<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <!--<web-app metadata-complete="true" 
         version="3.0"
         xmlns="http://java.sun.com/xml/ns/javaee" 
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee   http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">-->
    <display-name>Inventory Aset</display-name>
    <description>
        com.tanataprimajaya
    </description>
    <servlet>
        <servlet-name>UserServlet</servlet-name>
        <servlet-class>com.inventory.aset.controller.UserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.inventory.aset.controller.util.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SupplierServlet</servlet-name>
        <servlet-class>com.inventory.aset.controller.SupplierServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AutoCompleteRolenameServlet</servlet-name>
        <servlet-class>com.inventory.aset.controller.autoComplete.AutoCompleteRolenameServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AutoCompleteSupplierNameServlet</servlet-name>
        <servlet-class>com.inventory.aset.controller.autoComplete.AutoCompleteSupplierNameServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AutoCompleteSupplierCodeServlet</servlet-name>
        <servlet-class>com.inventory.aset.controller.autoComplete.AutoCompleteSupplierCodeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AutoCompleteProductCodeServlet</servlet-name>
        <servlet-class>com.inventory.aset.controller.autoComplete.AutoCompleteProductCodeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AutoCompleteProductNameServlet</servlet-name>
        <servlet-class>com.inventory.aset.controller.autoComplete.AutoCompleteProductNameServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProtocolServlet</servlet-name>
        <servlet-class>com.inventory.aset.controller.ProtocolServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoryServlet</servlet-name>
        <servlet-class>com.inventory.aset.controller.CategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AutoCompleteCategoryName</servlet-name>
        <servlet-class>com.inventory.aset.controller.autoComplete.AutoCompleteCategoryName</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DataSupplierServlet</servlet-name>
        <servlet-class>com.inventory.aset.controller.DataSupplierServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetCategoryServlet</servlet-name>
        <servlet-class>com.inventory.aset.controller.GetCategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ItemServlet</servlet-name>
        <servlet-class>com.inventory.aset.controller.ItemServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreatePOServlet</servlet-name>
        <servlet-class>com.inventory.aset.controller.CreatePOServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AutoCompleteTypePO</servlet-name>
        <servlet-class>com.inventory.aset.controller.autoComplete.AutoCompleteTypePO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcelReportServlet</servlet-name>
        <servlet-class>com.inventory.aset.controller.report.ExcelReportServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreatePOItemServlet</servlet-name>
        <servlet-class>com.inventory.aset.controller.CreatePOItemServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DataSupplierCodeServlet</servlet-name>
        <servlet-class>com.inventory.aset.controller.DataSupplierCodeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetPaymentTermServlet</servlet-name>
        <servlet-class>com.inventory.aset.controller.GetPaymentTermServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetItemPOServlet</servlet-name>
        <servlet-class>com.inventory.aset.controller.GetItemPOServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetItemSupplierServlet</servlet-name>
        <servlet-class>com.inventory.aset.controller.GetItemSupplierServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CeatePOItemServlet</servlet-name>
        <servlet-class>com.inventory.aset.controller.CreatePOItemServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcelItemsSuplierServlet</servlet-name>
        <servlet-class>com.inventory.aset.report.excel.ExcelItemsSuplierServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginAuthentication</servlet-name>
        <servlet-class>com.inventory.aset.controller.util.LoginAuthentication</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AutoCompleteProductByStock</servlet-name>
        <servlet-class>com.inventory.aset.controller.autoComplete.AutoCompleteProductByStock</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateSalesServlet</servlet-name>
        <servlet-class>com.inventory.aset.controller.CreateSalesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserServlet</servlet-name>
        <url-pattern>/userServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SupplierServlet</servlet-name>
        <url-pattern>/supplierServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AutoCompleteRolenameServlet</servlet-name>
        <url-pattern>/autoCompleteRolenameServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AutoCompleteSupplierNameServlet</servlet-name>
        <url-pattern>/autoCompleteSupplierName</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AutoCompleteSupplierCodeServlet</servlet-name>
        <url-pattern>/autoCompleteSupplierCode</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AutoCompleteProductCodeServlet</servlet-name>
        <url-pattern>/autoCompleteProductCode</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AutoCompleteProductNameServlet</servlet-name>
        <url-pattern>/autoCompleteProductName</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProtocolServlet</servlet-name>
        <url-pattern>/protocolServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoryServlet</servlet-name>
        <url-pattern>/categoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AutoCompleteCategoryName</servlet-name>
        <url-pattern>/autoCompleteCategoryName</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DataSupplierServlet</servlet-name>
        <url-pattern>/dataSupplierServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetCategoryServlet</servlet-name>
        <url-pattern>/getCategoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ItemServlet</servlet-name>
        <url-pattern>/itemServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreatePOServlet</servlet-name>
        <url-pattern>/createPOServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AutoCompleteTypePO</servlet-name>
        <url-pattern>/autoCompleteTypePO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcelReportServlet</servlet-name>
        <url-pattern>/excelReportServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreatePOItemServlet</servlet-name>
        <url-pattern>/createPOItemServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DataSupplierCodeServlet</servlet-name>
        <url-pattern>/dataSupplierCodeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetPaymentTermServlet</servlet-name>
        <url-pattern>/getPaymentTermServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetItemPOServlet</servlet-name>
        <url-pattern>/getItemPOServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetItemSupplierServlet</servlet-name>
        <url-pattern>/getItemSupplierServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CeatePOItemServlet</servlet-name>
        <url-pattern>/ceatePOItemServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcelItemsSuplierServlet</servlet-name>
        <url-pattern>/excelItemsSuplierServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginAuthentication</servlet-name>
        <url-pattern>/loginAuthentication</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AutoCompleteProductByStock</servlet-name>
        <url-pattern>/autoCompleteProductByStock</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateSalesServlet</servlet-name>
        <url-pattern>/createSalesServlet</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
